<%= form_for(dorama) do |f| %>
  <% if dorama.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dorama.errors.count, "error") %> prohibited this dorama from being saved:</h2>

      <ul>
      <% dorama.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>

  <div class="upload">
  <%= form_for(@dorama) do |f| %>
      <%=f.label :image,"ジャケ写" %>
      <%= f.file_field :image %>
    <% end %>
  </div>

  <td><%= link_to 'Edit', doramas_path(id: dorama.id) %></td>
<% end %>
