<h1>投稿を編集</h1>

<%= form_for :dorama, url: doramas_path, method: :patch do |f| %>
  <% if @dorama.errors.any? %>
    <div id="error_explanation">
      <h2><%= @dorama.errors.count %>件のエラーが発生したため保存ができませんでした。</h2>
      <ul>
      <% @dorama.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :story, "あらすじ" %><br>
    <%= f.text_field :story %>
  </p>

  <p>
    <%= f.label :title, "タイトル" %><br>
    <%= f.text_area :title, cols: 60, rows: 8 %>
  </p>

<%= form_for @dorama,:url => {:action => 'update'}, :html => {:multipart => true} do |f| %>

  <%= f.file_field :image %><br>
  <%= f.submit %>

<% end %>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Show', @dorama %> |




