<div class="main">
  <div class="pickup">
    <h2>ツイート数ランキング</h2>
  </div>
  <div class="ranking">
    <% @doramas.each do |dorama| %>
    <ul class="posts">
      <%= link_to dorama_path dorama do %>
      <li>
        <%= image_tag dorama.image %>
        <span class="title"><%= dorama.title %></span>
        <span class="date"><%= dorama.date %></span>
        <span class="time"><%= dorama.time %></span>
        <span class="tweet_number"><%= dorama.tweet_number %></span>
      </li>
      <% end %>
    </ul>
    <% end %>
  </div>
</div>

