<div class="main">
  <div class="pickup">
    <h2>ツイート数ランキング</h2>
  </div>
  <div class="ranking">
    <% @doramas.each do |doratter| %>
    <ul class="posts">
      <%= link_to dorama_path doratter do %>
      <li>
        <%= image_tag doratter.image %>
        <span class="doratter"><%= doratter.title %></span>
        <span class="date"><%= doratter.date %></span>
        <span class="time"><%= doratter.time %></span>
        <span class="tweet_number"><%= doratter.tweet_number %></span>
      </li>
      <% end %>
    </ul>
    <% end %>
  </div>
</div>

