<%= @dorama.tweet_number %>
<%= image_tag @dorama.image %>

<div class="detail">

  <%= @dorama.title %>
  <%= @dorama.story %>

  <%= @dorama.date %>
  <%= @dorama.time %>

  <% @dorama.casts.each do |cast| %>
  <%= cast.name %>
  <% end %>


  <% @tweets.each do |tweet| %>
  <%= tweet.text %>
  <br>
  <br>
  <% end %>

  <div class="tweet">ツイートを見る</div>

</div>