<%= @dorama.image %>
<div class="detail">
  <span class="img"><a href="/doramas"><%= image_tag "nigehazi.png" %></a>
  </span>
  <div class="tweet">ツイートを見る</div>



<%= @dorama.title %>
<%= @dorama.story %>

<%= @dorama.date %>
<%= @dorama.time %>

<% @dorama.casts.each do |cast| %>
<%= cast.name %>
<% end %>
</div>